
    body{
        margin: 0;
        padding: 0;
    }
    .umberpic{
        display: inline-block;
        margin: 1%;
        padding: 0;
        cursor: pointer;
        animation: umber 10s alternate infinite;
        transition: all 1s;
        text-shadow: 2px 2px 3px grey;
        font-family: 'Lobster', cursive;
        
    }
    
    @keyframes umber{
        0%{
            color: blue;
            font-size: 250%;
        }
        10%{
            color: violet;
            font-size: 300%;
        }
        20%{
            color: green;
            font-size: 360%;
        }
        30%{
            color: yellow; 
            font-size: 300%;
            }
        40%{
            color: skyblue;
            font-size: 360%;
        }
        50%{
            color: black;
            font-size: 180%;
        }
        60%{
            color: #778899;
            font-size: 430%;
        }
        70%{
            color: brown;
            font-size: 380%;
        }
        80%{
            color: #fff;
            font-size: 260%;
        }
        90%{
            color: rgb(187, 30, 140);
            font-size: 350%;
        }
        100%{
            color: grey;
            font-size: 300%;
        }
        }
    .navigation{
        background: url(background.png) no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.95;
        height: 32%;
        color: #fff;
    }
    .navbar{
        list-style: none;
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 5%;
    }
    .navbar li a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
    }
    .navbar li{
        display: inline-block;
        margin-right: 30px;
    }
    .active {
        border-bottom: 4px solid brown;
        padding: 3px;
        font-size: 20px;
    } 
    .show:hover{
        border-bottom: 4px solid brown;
        padding: 3px;
        font-size: 20px;
    }
    .pc{
        visibility: hidden;
    }
    .subnavya{
        display: none;
    }
    .navbar li:hover > ul{
        display: block;
        background: tomato;
        position: absolute;
        margin-top: 30px;
        margin-left: -15px;
    }
    .bluebox{
        background-color: rgb(9, 110, 40);
        width: 100px;
        height: 100px;
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: balling 10s alternate infinite; 
        transition: all;
    }
    /*@keyframes balling{
        0%{
          position: absolute;
          left: -100px;
        }
        10%{
            position: absolute;
          left: 50px;
        }
        20%{
            position: absolute;
          left: 100px;
          top: 100px;
        }
        30%{
            position: absolute;
          left: 150px;
          top: 250px;
        }
        40%{
            position: absolute;
          left: 200px;
          top: 200px;
        }
        50%{
            position: absolute;
          left: 275px;
          top: 250px;
        }
        60%{
            position: absolute;
          left: 350px;
          top: 200px;
        }
        70%{
            position: absolute;
          left: 425px;
          top: 250px;
        }
        80%{
            position: absolute;
          left: 500px;
          top: 200px;
        }
        90%{
            position: absolute;
          left: 575px;
          top: 250px;
        }
        100%{
            position: absolute;
          left: 100px;
          top: 200px;
        }
    }*/
    .bubbles{
    display: flex;
    width: 100%;
    position: absolute;
    top: -60px;
    justify-content: space-around;
    align-items: center;
    }
    .bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
    }
    @keyframes bubble{
    0%{
        transform: translateY(0px);
        opacity: 0;
    }
    40%{
        
        opacity: 1;
    }
    80%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(50vh);
        opacity: 0;
    }
    }
    
    .bubbles img:nth-child(1){
    animation-delay: 2s;
    }
    .bubbles img:nth-child(2){
    animation-delay: 3s;
    }
    .bubbles img:nth-child(3){
    animation-delay: 5s;
    }
    .bubbles img:nth-child(4){
    animation-delay: 6s;
    }
    .bubbles img:nth-child(5){
    animation-delay: 8s;
    }
    .bubbles img:nth-child(6){
    animation-delay: 9s;
    }
    .bubbles img:nth-child(7){
    animation-delay: 10s;
    }
    .smallintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    }
    .login{
    background: linear-gradient(#008080, #00ffff);
    border-radius: 5px;
    font-size: 24px;
    padding: 7px 16px;
    box-shadow: 2px 2px 3px #5f9ea0;
    color: white;
    border: none;
    }
    .login:hover{
    border: 2px solid #008080;
    border-radius: 5px;
    font-size: 24px;
    padding: 7px 16px;
    background: transparent;
    }
    a {
    text-decoration: none;
    color: #fff;
    }
    .signup{
    text-decoration: none;
    color: #696969;
    font-size: 24px;
    }
    .wlcm{
    color: #7cfc00;
    font-size: 56px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    font-family: 'Redressed', cursive;
    }
    .rental{
    font-size: 20px
    }
    
    .marquees{
    width: 60%;
    margin: 15px 250px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background: linear-gradient(#40e0d0,#e9967a);
    color: #483d8b;
    }
    .item{
    box-shadow: 2px 3px 3px 2px grey;
    }
    .grid{
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    grid-gap: 2rem;
    /*grid-gap: 1rem;*/
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;*/
    }
    #item1{
        padding: 0;
    height: 52vh;
    border-radius: 10px;
    box-shadow: 2px 3px 3px 2px grey;
    background: linear-gradient(rgb(21, 195, 207), rgba(21, 195, 207,0.5), rgba(21, 195, 207,1), rgba(11, 165, 267,2))
    }
    #item2{
        height: 80vh;
    }
    body{
    background: powderblue;
    }
    .difflinks{
    border: none;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    width: 80%;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 3px 3px 5px #ff8c00;
    
    background: linear-gradient(rgb(192, 66, 7), #ff7f50);
    }
    
    .difflinks:hover{
        color: #ff7f50	;
        background: #fff;
        box-shadow: 3px 3px 2px 3px #ff8c00;
    }
    .finger{
        width: 30px;
    
    }
    .take-atour{
        display: block;
        border-radius: 10px;
        color: #fff;
        padding: 15px;
        margin: 10px;
        box-shadow: 2px 2px 1px 3px grey;
        font-size: 20px;
        margin-bottom: 5px;
    }
    
    
    .take-atour:hover{
       background: linear-gradient(rgb(122, 66, 66), #fff);
       color: #00ffff; 
    }
    .tourlast{
        margin-bottom: 10px;
    }
    .more{
        /*position: absolute;
        left: 195px;
        bottom: -60px;*/
        
        width: 20%;
        display: inline;
        margin: 10px;
        padding: 15px;
    }
    .hideme{
        font-size: 39px;
        visibility: hidden;
    }
    .middlepor{
        padding: 15px 20px;
        
    }
    #item2{
        display: grid;
       grid-auto-flow: column;
       grid-gap: 1rem;
       grid-template-columns: 1fr 1.5fr;
    
    }
    .umberis{
        display: inline;
        font-family: 'Lobster', cursive;
    }
    .content-1{
        font-family: 'Lobster', cursive;
        line-height: 1.5;
    }
    .leftpor{
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        grid-gap: 2rem rem;
        color: #afeeee;
      
    }
    .picspor{
        height: 100px;
        width: 100px;
        border-radius: 10px;
        transition: all 0.3s;
        display: grid;
        justify-content: center;  
        align-items: center;
        background: linear-gradient(#ee82ee, #00ff7f);
    }
    .picspor:hover{
        height: 150px;
        width: 150px;
        background: linear-gradient(#00ff7f, #ee82ee);
    }
    /*.middle{
    position: absolute;
    top: 700px;content
    left: 0%;
    transform: translate(0%, 700px);
    }
    .card{
    cursor: pointer;
    
    }
    .front, .back{
    /*width: 100%;
    height: 100%;*/
    /*overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    }
    .front img{
    /*height: 100%;*/
    /*}
    .front{
    transform: perspective(600px) rotateY(0deg);
    }
    .back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
    }
    .back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
    }
    .card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
    }
    .card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
    }*/
    .regret{
    font-family: 'Lobster', cursive;
    }
    .green{
        background-color: #66BFBF;
        padding: 50px;
        text-align: center;
    }
    .ac{
        margin: 10px 40px 10px;
        color: #11999E;
        font-size: 20px;
    }
    .ac:hover{
        color: #EAF6F6;
        font-size: 30px;
    }
    #copyright{
        font-size: 16px;
        color: #EAF6F6;
    }
    #copyright:hover{
        color: blue;
        font-size: 30px;
    }
    